.hidden {
    display: none;
}

.test-container {
    display: flex;

}

.test-container img {
    width: 48px;
    height: 48px;
}

img.flower {
    background-image: url("../assets/icon-test/flower.png");
}